{% include "partials/slidebar.html" %}
<header class="header">

    <!-- LEFT: MENU BUTTON -->
    <div class="header-left">
        <div class="page-indicator">

            <div class="page-indicator-label">
                {% if session.get('is_admin') == 1%}
                ADMIN PANEL
                {% else %}
                TOI
                {% endif %}
            </div>

            <div class="page-indicator-current">

                /
                {{ get_route_name(request.endpoint, sidebar_routes) or request.endpoint}}
            </div>

        </div>
    </div>

    <!-- RIGHT: USER INFO -->
    <div class="header-right">

        <div class="user-box" onclick="toggleUserMenu()">

            <img class="avatar"
                 src="{{ url_for('static', filename='picture/Logo.png') }}"
                 alt="avatar">

            <div class="user-info">
                <div class="username">
                    Hi, {{ session.get('username', 'User') }}
                </div>

                <div class="job-title">
                    {{ session.get('job', 'Employee') }}
                </div>
            </div>
            {% include "partials/drop_down.html" %}

        </div>


    </div>

</header>