<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}Dashboard{% endblock %}</title>

    <!-- CSS dùng chung -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/General/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='picture/Logo.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='picture/Logo.png') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="toast-overlay">
          {% for category, message in messages %}
            <div class="toast {{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% if session.get('user_id') %}
        {% include 'partials/header/header.html' %}
    {% endif %}

    <main class="container">
        {% block content %} {% endblock %}
<!--        <script src="{{ url_for('static', filename='js/Misa/favourite.js') }}"></script>-->
<!--        <script src="{{ url_for('static', filename='js/Misa/downloadReport.js') }}"></script>-->
<!--        <script src="{{ url_for('static', filename='js/Misa/CloseWeb.js') }}"></script>-->
<!--        <script src="{{ url_for('static', filename='js/Misa/Delete.js') }}"></script>-->
<!--        <script src="{{ url_for('static', filename='js/Misa/DeleteReport.js') }}"></script>-->
<!--        <script src="{{ url_for('static', filename='js/Misa/DeleteReportCate.js') }}"></script>-->
<!--        <script src="{{ url_for('static', filename='js/Misa/DeleteRole.js') }}"></script>-->
<!--        <script src="{{ url_for('static', filename='js/Misa/Genarate.js') }}"></script>-->
<!--        <script src="{{ url_for('static', filename='js/Misa/DeleteLink.js') }}"></script>-->
        {% block scripts %}{% endblock %}

<!--        <div id="loading-backdrop" style="display:none;"></div>-->
<!--        <div id="loading-overlay" style="display:none;">-->
<!--          <div class="loading-text-anim">-->
<!--            <i>L</i><i>O</i><i>A</i><i>D</i><i>I</i><i>N</i><i>G</i>-->
<!--          </div>-->
<!--        </div>-->


    </main>

</body>
<script src="{{ url_for('static', filename='js/Generate/dropdown.js') }}"></script>
</html>
